@model PersonAddRequest
@{
	ViewBag.Title = "Create Person";
}
<form action="~/persons/create" method="post">
	@*for the values to be submitted every input tag must have name attribute,
		if there is no name for a specific input-->its value will not be submitted when we click on submit button
		,and it should match withthe same name of the propertyof your class
		-->here our calssis the PersonAddRequest
		-->soModelBinding when you clicks the submitbutton it gets thevalue fromthat sepecific input 
		andaddsthe value into the propertynamethatatchesitin thePersonAddRequest
	*@

	<div>
		<label for="PersonName"><h2>Person Name:</h2></label>
		<input asp-for="PersonName" />
		<span asp-validation-for="PersonName"></span>
	</div>
	<div>
		<label for="EmailAddress"><h2>Email Address:</h2></label>
		<input asp-for="EmailAddress" />
		<span asp-validation-for="EmailAddress"></span>
	</div>
	<div>
		<label for="DateOfBirth"><h2>Date Of Birth:</h2></label>
		<input asp-for="DateOfBirth" />
		<span asp-validation-for="DateOfBirth"></span>
	</div>
	<div>
		<h2>Gender:</h2>
		@{
			string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
		}
		@foreach (var gender in genders)
		{
			<input type="radio" asp-for="Gender" value="@gender" />
			<label for="@gender"> @gender</label>

		}
		<span asp-validation-for="Gender"></span>
		@*to justselect 1 option you have to give the2 inputs the samename with diff id*@
		@* 		<input type="radio" id="Male" name="Gender" value="male"/>
		<label for="Male"> Male</label>

		<input type="radio" id="Female" name="Gender" value="female" />
		<label for="Female"> Female</label> *@

	</div>
	<div>
		<label for="Address"><h2>Address:</h2></label>
		<input asp-for="Address" />
		<span asp-validation-for="Address"></span>
	</div>
	<div>
		<label for="Country"><h2>Country:</h2></label>

		<select asp-for="CountryID" asp-items="@ViewBag.Countries" >
			<option value="">Please Select</option>
@* 			@foreach(CountryResponse country in ViewBag.Countries)
			{
				<option value="@country.CountryID">@country.Countryname</option>
			} *@
		</select>
		<span asp-validation-for="CountryID"></span>
	</div>
	<div>
		<label for="ReccivenewsLetters"><h2>ReccivenewsLetters:</h2></label>
		<input asp-for="ReccivenewsLetters" />
		<span asp-validation-for="ReccivenewsLetters"></span>
	</div>
	@*Submit*@
	<div class="form-field flex">
		<div class="w-25">
		</div>
		<div class="flex-1">
			<button class="button button-green-back">Create</button>

			<div asp-validation-summary="All" class="text-red"></div>

			@if (ViewBag.Errors != null)
			{
				<div class="text-red ml">
					<ul>
						@foreach (string error in ViewBag.Errors)
						{
							<li class="ml">@error</li>
						}
					</ul>
				</div>
			}
		</div>
	</div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>